html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px; /* Margem inferior para evitar que o conteúdo encavale no rodapé */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe a altura total da janela */
}

.container {
    flex: 1; /* Faz o container ocupar o espaço disponível, empurrando o rodapé para baixo */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

footer {
    height: 60px;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Centraliza o texto verticalmente */
}
